---
import Layout from '../layouts/Layout.astro';
import Header from '../components/astro/Header.astro';
import Hero from '../components/astro/Hero.astro';
import AboutSection from '../components/astro/AboutSection.astro';
import ProjectsSection from '../components/astro/ProjectsSection.astro';
---

<Layout title="Portfolio - Home" description="Welcome to my portfolio showcasing my work and projects">
  <Header />
  <main id="home">
    <Hero />
    <AboutSection />
    <ProjectsSection />
  </main>
</Layout>
